[Unit]
Description=MongoDB Database Shard Routing Server (mongos)
After=network.target

[Service]
User=mongod
Type=forking
ExecStart=/bin/mongos --config {{ mongodb_config_prefix }}mongos.conf

[Install]
WantedBy=multi-user.target

