rs.initiate( {
   _id : "{{ replicaSet }}",
   members: [
{% set members = [] %}
{% for host in groups['replication_servers'] %}
{% if hostvars[host].replicaSet == replicaSet %}
{{ members.append(host) }}
{% endif %}
{% endfor %}
{% for host in members %}
{% if loop.last %}
     { _id: {{ loop.index0 }}, host: "{{ host }}:{{ mongod_port }}" }
{% else %}
     { _id: {{ loop.index0 }}, host: "{{ host }}:{{ mongod_port }}" },
{% endif %}
{% endfor %}
   ]
})
sleep(20000)
rs.status()