[Unit]
Description=MongoDB Database Shard Config Server
After=network.target

[Service]
User=mongod
Type=forking
ExecStart=/usr/bin/mongod -f {{ mongodb_config_prefix }}mongoc.conf

[Install]
WantedBy=multi-user.target

