systemLog:
  destination: file
  path: /var/log/mongodb/mongod-config.log
  logAppend: true

processManagement:
  fork: true
  pidFilePath: /var/run/mongodb/mongoc.pid

net:
  port: {{ mongoc_port }}
  bindIpAll: true

storage:
  dbPath: {{ mongodb_datadir_prefix }}configdb

security:
  keyFile: {{ mongodb_datadir_prefix }}secret

sharding:
  clusterRole: configsvr

replication:
  replSetName: "replconfig01"
